<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/employment.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    {{>nav}}
    <div id='wood-pane'>
        <p>Employment</p>
    </div>
    {{applicationSubmitted}}
    {{fileSubmitted}}
    {{#if applicationSubmitted}}
    <section class='application-submitted'>
        <p>Application successfully submitted, thank you!</p>
    </section>

    {{else}}



    <div id="flash-messages" class="container">

        <div class="alert alert-info">

        </div>


        <div class="alert alert-success hide">
            <p>successful application submission</p>
        </div>


        <div class="alert alert-warning">

        </div>

        <div class="alert alert-danger hide"> 
            <p>check highlighted fields</p>

        </div>

    </div>

    {{!-- <section class='employment-section'>
        <div class='employment-header'>
            <h3>Apply With Us Now</h3>
            <p>Bona Fide Juicery is looking for team members that are energetic,
                excited, and eager about promoting a healthy lifestyle.</p>
        </div>
        <div class='employment-form'>
            <form method="post" action="" enctype='multipart/form-data'>
                <input type="hidden" name="action" value="application">
                <div id='name'>


                    <p>Name <span style='color: #790000'>*</span></p>

                    <div>
                        <span>
                            <input value='{{formData.firstname}}' name='firstname' id='firstname-input' type="text">
                            <label class='{{#if validationErrors.firstname}}has-error{{/if}}'
                                for="firstname-input">First</label>
             
                        </span>
                        <span>

                            <input value='{{formData.lastname}}' name='lastname' id='lastname-input' type="text">
                            <label class='{{#if validationErrors.lastname}}has-error{{/if}}'
                                for="lastname-input">Last</label>
             
                        </span>
                    </div>


                </div>
                <div id='email'>
                    <p class='{{#if validationErrors.email}}has-error{{/if}}'>Email <span
                            style='color: #790000'>*</span></p>
                    <input value='{{formData.email}}' name='email' type="text">
                </div>
                <div id='phone'>
                    <p class='{{#if validationErrors.phone}}has-error{{/if}}'>Phone <span
                            style='color: #790000'>*</span></p>
                    <input value='{{formData.phone}}' id='phone-input' name='phone' type="text">
                </div>
                <div id='role'>
                    <p class='{{#if validationErrors.role}}has-error{{/if}}'>Job Role <span
                            style='color: #790000'>*</span></p>
                    <select value='{{formData.role}}' name="role" id="role" multiple='multiple' size='4'>
                        <option id='role-option' value="Barista">Barista</option>
                        <option id='role-option' value="Juicer">Juicer/ Back of House (De Pere Only)</option>
                        <option id='role-option' value="Assistmanager">Assistant Manager</option>
                        <option id='role-option' value="Manager">Manager</option>
                    </select>
                </div>
                <div id='hours-available'>
                    <p class='{{#if validationErrors.hoursavailable}}has-error{{/if}}'>Hours Available</p>

                    <textarea name="hoursavailable" id=""
                        rows="10">{{#if formData.hoursavailable}}{{formData.hoursavailable}}{{/if}}</textarea>
                </div>
                <div id='pay'>
                    <p class='{{#if validationErrors.desiredpay}}has-error{{/if}}'>Desired Pay</p>
                    <input value='{{formData.desiredpay}}' name='desiredpay' type="text">
                </div>
                <div id='locations'>
                    <p class='{{#if validationErrors.locationsapplied}}has-error{{/if}}'>Locations Applied For <span
                            style='color: #790000'>*</span></p>
                    <select name="locationsapplied" id="" multiple='multiple' size='2' value=''>
                        <option id='location-option' value="Depere">De Pere, WI</option>
                        <option id='location-option' value="Appleton">Appleton, WI</option>
                    </select>
                    <p>May select more than one</p>
                </div>
                <div id='start-date'>
                    <p class='{{#if validationErrors.startdate}}has-error{{/if}}'>Date Available to Start</p>
                    <input value='{{formData.startdate}}' name='startdate' type="date">
                </div>
                <div id='skills'>
                    <p class='{{#if validationErrors.coverletter}}has-error{{/if}}'>Cover Letter or Special Skills</p>
                    <textarea name="coverletter" id="test1"
                        rows="10">{{#if formData.coverletter}}{{formData.coverletter}}{{/if}}</textarea>
                </div>
                <div id='resume'>
                    <p class='{{#if validationErrors.resume}}has-error{{/if}}'>Resume Upload</p>
                    <input id='resume' name='resume' type="file">
           
                </div>
                <button id='submit' type='submit'>Submit</button>

            </form>
        </div>
    </section> --}}
    


    <h1>Upload a new file</h1>
    <form id="form2" action="/api/fileupload/create" method="POST" enctype='multipart/form-data'>
        <section class='employment-section'>
            <div class='employment-header'>
                <h3>Apply With Us Now</h3>
                <p>Bona Fide Juicery is looking for team members that are energetic,
                    excited, and eager about promoting a healthy lifestyle.</p>
            </div>
            <div class='employment-form'>
                <form method="post" action="" enctype='multipart/form-data'>
                    <input type="hidden" name="action" value="application">
                    <div id='name'>


                        <p>Name <span style='color: #790000'>*</span></p>

                        <div id='testinggg'>
                            <span>
                                <input value='{{formData.firstname}}' name='firstname' id='firstname-input' type="text">
                                <label class='{{#if validationErrors.firstname}}has-error{{/if}}'
                                    for="firstname-input">First</label>
                         
                            </span>
                            <span>

                                <input value='{{formData.lastname}}' name='lastname' id='lastname-input' type="text">
                                <label class='{{#if validationErrors.lastname}}has-error{{/if}}'
                                    for="lastname-input">Last</label>
                            
                            </span>
                        </div>


                    </div>
                    <div id='email'>
                        <p class='{{#if validationErrors.email}}has-error{{/if}}'>Email <span
                                style='color: #790000'>*</span></p>
                        <input value='{{formData.email}}' id='email-input' name='email' type="text">
                    </div>
                    <div id='phone'>
                        <p class='{{#if validationErrors.phone}}has-error{{/if}}'>Phone <span
                                style='color: #790000'>*</span></p>
                        <input value='{{formData.phone}}' id='phone-input' name='phone' type="text">
                    </div>
                    <div id='role'>
                        <p class='{{#if validationErrors.role}}has-error{{/if}}'>Job Role <span
                                style='color: #790000'>*</span></p>
                        <select value='{{formData.role}}' name="role" id="selectRole" multiple='multiple' size='4'>
                            <option id='role-option' value="Barista">Barista</option>
                            <option id='role-option' value="Juicer">Juicer/ Back of House (De Pere Only)</option>
                            <option id='role-option' value="Assistmanager">Assistant Manager</option>
                            <option id='role-option' value="Manager">Manager</option>
                        </select>
                    </div>
                    <div id='hours-available'>
                        <p class='{{#if validationErrors.hoursavailable}}has-error{{/if}}'>Hours Available</p>

                        <textarea name="hoursavailable" id="hoursavailable"
                            rows="10">{{#if formData.hoursavailable}}{{formData.hoursavailable}}{{/if}}</textarea>
                    </div>
                    <div id='pay'>
                        <p class='{{#if validationErrors.desiredpay}}has-error{{/if}}'>Desired Pay</p>
                        <input value='{{formData.desiredpay}}' id='desiredpay' name='desiredpay' type="text">
                    </div>
                    <div id='locations'>
                        <p class='{{#if validationErrors.locationsapplied}}has-error{{/if}}'>Locations Applied For <span
                                style='color: #790000'>*</span></p>
                        <select name="locationsapplied" id="locationsapplied" multiple='multiple' size='2'>
                            <option id='location-option' value="Depere">De Pere, WI</option>
                            <option id='location-option' value="Appleton">Appleton, WI</option>
                        </select>
                        <p>May select more than one</p>
                    </div>
                    <div id='start-date'>
                        <p class='{{#if validationErrors.startdate}}has-error{{/if}}'>Date Available to Start</p>
                        <input value='{{formData.startdate}}' id='startdate' name='startdate' type="date">
                    </div>
                    <div id='skills'>
                        <p class='{{#if validationErrors.coverletter}}has-error{{/if}}'>Cover Letter or Special Skills
                        </p>
                        <textarea name="coverletter" id="coverletter"
                            rows="10">{{#if formData.coverletter}}{{formData.coverletter}}{{/if}}</textarea>
                    </div>
                    <div id='resume'>
                        <p class='{{#if validationErrors.resume}}has-error{{/if}}'>Resume Upload</p>
                        <input id='resume' name='resume' type="file">
                   
                    </div>
                    <button id='submit' type='submit'>Submit</button>
                    <div>
                        <input type="file" id="file_upload" />
                        <br>
                        <label for="file_name">Give the file a name:<input type="text" name="file_name"
                                id="file_name" /></label>

                    </div>
                    <br>

                    <div>
                        <center><input type="button" value="Upload" onclick="uploadFile()"></center>
              
                    </div>
                </form>
            </div>
        </section>

    </form>
    <br>
    <div>
        <h2>Uploaded File List:</h2>
        <ul id="file_list">
        </ul>
    </div>
    {{/if}}
    {{>footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src='/js/employment.js'></script>
    <script type='text/javascript'>
        
    </script>
</body>

</html>