<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/employment.css">
     <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet"> 
    <title>Document</title>
</head>
<body> 
    {{>nav}}
        <div id='wood-pane'>
            <p>Employment</p>     
        </div>
        {{#if applicationSubmitted}} 
        <section class='application-submitted'>
            <p>Application successfully submitted, thank you!</p>
        </section>
        
        {{else}} 
        {{#if messages}}
			<div id="flash-messages" class="container">
				{{#if messages.info}}
				<div class="alert alert-info">
						{{{flashMessages messages.info}}}
				</div>
				{{/if}}
				{{#if messages.success}}
				<div class="alert alert-success">
						{{{flashMessages messages.success}}}
				</div>
				{{/if}}
				{{#if messages.warning}}
				<div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
				</div>
				{{/if}}
				{{#if messages.error}}
				<div class="alert alert-danger">
                        
						{{{flashMessages messages.error}}}
                        
				</div>
				{{/if}}
			</div>
		{{/if}}
        <section class='employment-section'>
            <div class='employment-header'>
                <h3>Apply With Us Now</h3>
                <p>Bona Fide Juicery is looking for team members that are energetic, 
                    excited, and eager about promoting a healthy lifestyle.</p>
            </div>
            <div class='employment-form'>
                <form method="post" action="" enctype='multipart/form-data'>
                    <input type="hidden" name="action" value="application">
                    <div id='name'>
                        
                        
                        <p>Name <span style='color: #790000'>*</span></p>
                        
                        <div id='testinggg' class='{{#if validationErrors.firstname}}has-error{{/if}}'>
                            <span>
                                <input value='{{formData.firstname}}' name='firstname' id='firstname-input' type="text">
                                {{!-- <label for="firstname-input">First</label> --}}
                                <p>First</p>
                            </span>
                            <span>
                                
                                <input value='{{formData.lastname}}'name='lastname' id='lastname-input'type="text">
                                {{!-- <label for="lastname-input">Last</label> --}}
                                <p>Last</p>
                            </span>
                        </div>
                        
                        
                    </div>
                    <div class='{{#if validationErrors.email}}has-error{{/if}}' id='email'>
                        <p>Email <span style='color: #790000'>*</span></p>
                        <input value='{{formData.email}}' name='email' type="text">
                    </div>
                    <div class='{{#if validationErrors.phone}}has-error{{/if}}' id='phone'>
                        <p>Phone <span style='color: #790000'>*</span></p>
                        <input value='{{formData.phone}}' id='phone-input' name='phone' type="text">
                    </div>
                    <div class='{{#if validationErrors.role}}has-error{{/if}}' id='role'>
                        <p>Job Role <span style='color: #790000'>*</span></p>
                        <select value='{{formData.role}}' name="role" id="selectRole" multiple='multiple' size='4'>
                            <option id='role-option' value="Barista">Barista</option>
                            <option id='role-option' value="Juicer">Juicer/ Back of House (De Pere Only)</option>
                            <option id='role-option' value="Assistmanager">Assistant Manager</option>
                            <option id='role-option' value="Manager">Manager</option>
                        </select>
                    </div> 
                    <div class='{{#if validationErrors.hoursavailable}}has-error{{/if}}' id='hours-available'>
                        <p>Hours Available</p>
                        
                        <textarea name="hoursavailable" id="" rows="10">{{#if formData.hoursavailable}}{{formData.hoursavailable}}{{/if}}</textarea>
                    </div>
                    <div class='{{#if validationErrors.desiredpay}}has-error{{/if}}' id='pay'>
                        <p>Desired Pay</p>
                        <input value='{{formData.desiredpay}}' name='desiredpay' type="text">
                    </div>
                    <div class='{{#if validationErrors.locationsapplied}}has-error{{/if}}' id='locations'>
                        <p>Locations Applied For <span style='color: #790000'>*</span></p>
                        <select name="locationsapplied" id="" multiple='multiple' size='2'>
                            <option id='location-option' value="Depere">De Pere, WI</option>
                            <option id='location-option' value="Appleton">Appleton, WI</option>
                        </select>
                        <p>May select more than one</p>
                    </div>
                    <div class='{{#if validationErrors.startdate}}has-error{{/if}}' id='start-date'>
                        <p>Date Available to Start</p>
                        <input value='{{formData.startdate}}' name='startdate' type="date">
                    </div>
                    <div class='{{#if validationErrors.coverletter}}has-error{{/if}}' id='skills'>
                        <p>Cover Letter or Special Skills</p>
                        <textarea value='test' name="coverletter" id="test1" rows="10">{{#if formData.coverletter}}{{formData.coverletter}}{{/if}}</textarea>
                    </div>
                    <div id='resume'>   
                        <p>Resume Upload</p>
                        <input name='resume' type="file">
                    </div>
                    <button id='submit' type='submit'>Submit</button>
                    
                </form>
            </div>
        </section> 
        {{/if}}
        
    {{>footer}}
    <script src='/js/employment.js'></script>
</body>
</html>   