<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/shop.css">
    <title>Document</title>
</head>

<body>
    {{>nav}}
    <div id='wood-pane'>
        <p>Products</p>
    </div>
    <section class='shop-body'>
        {{>productsearch}}
         
        <div class='product'>
            <div class='shop-sorting'>
                <div>
                    <i id='items-grid' class="fas fa-th"  onclick='makeGrid()'></i>
                    <i id='items-list' class="fas fa-list"  onclick='makeList()'></i>
                    <select onchange='sort()' name="" id="sort">
                        <option value="default" selected='selected'>Default sorting</option>
                        {{!-- <option value="popularity">Sort by popularity</option> --}}
                        {{!-- <option value="rating">Sort by average rating</option> --}}
                        <option value="latest">Sort by latest</option>
                        <option value="lohi">Sort by price: low to high</option>
                        <option value="hilo">Sort by price: high to low</option>
                    </select>
                </div>
                <div id='products-per-page'>
                    <p>View:
                        <a id='product-pp' class='active-page'>3</a> /
                        <a id='product-pp'>12</a> /
                        <a id='product-pp'>24</a> /
                        <a id='product-pp'>All</a>
                    </p>
                </div>
            </div>
            <div id='all-items-div' class='items'>
                {{#each products}}
                <div id='item' class='item' value='{{category}}' name=''>
                    <input type="hidden" id='date-created' value='{{dateCreated}}'>

                    <a href="product/{{slug}}"><img src="{{image.secure_url}}" alt=""></a>
                    <div>
                        <p id='item-category'>{{category}}</p>
                        <div id='product-name' style=''>

                            <a style='text-decoration: none; color: black;' href="">
                                <p id='item-title'>{{title}}</p>
                            </a>
                        </div>

                        <div id='addtocart'>
                            <div id='price-div'>
                                <p><s>{{originalprice}}</s></p>
                                <p id='item-price'>{{price}}</p>

                            </div>
                            <a href=""><button>Add to Cart</button></a>
                        </div>

                    </div>



                </div>
                {{/each}}
            </div>
            {{!-- <div class='pagination'>
                <a onclick='prevPage()'><button id="btn_prev">&#8249; Prev </button></a>
                Page <span id="page"></span> of <span id='totalpage'></span>
                <a onclick='nextPage()'><button id="btn_next">Next &#8250;</button></a>
            </div> --}}
            <div id='change-page'>
                <a href="javascript:prevPage()" id="btn_prev"><i class="fas fa-angle-left"></i></a>
                Page <span id="page"></span>
                <a href="javascript:nextPage()" id="btn_next"><i class="fas fa-angle-right"></i></a>
                
            </div>
            
        </div>
    </section>
    {{>footer}}
    <script src='/js/shop.js'></script>
</body>

</html>